body {
  padding-top: 79px;
  background-color: #245B7F;
}

/* background-header {
  width: 100%;
  height: 50em;
} */

header {
  width: 100%;
  height: 35em;
  background-image: url(./pictures/sf-background-pic.png);
  background-position: 95%;
  background-size: cover;
  margin-bottom: 5em;
}

.header-title {
  align-self: center;
  padding-top: 9em;
}

.spacer {
  margin-bottom: 5em;
}

.spacer-title {
  margin-bottom: 1em;
}

.spacer-paragraph {
  margin-top: 2em;
}

.img-projects {
  width: 30em;
  height:30em;
  padding: 1%;
  border: 1px solid white;
}
